<h1>This is the Homepage</h1>
<div class="all">
 <div class="l-card">
  <div class="l-thumbnail">
    <figure class="thumbnail-wrapper">
      <img src="http://commonsense-design.com/wp-content/uploads/2016/12/thumbnail_sample.png"/>
    </figure>
    <span class="more-text">
      Read More
    </span>
  </div>
  <div class="text-content">
    <h3 class="title">
      Lorem Ipsum
    </h3>
    <p class="caption">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar ante diam, vitae accumsan sem ullamcorper…
    </p>
    <div class="content-meta">
      <span class="date">
        2016.12.12
      </span>
      <span class="like">
        <i class="material-icons">&#xE87E;</i>
        120
      </span>
    </div>
  </div>
</div>

<div class="l-card">
  <div class="l-thumbnail">
    <figure class="thumbnail-wrapper">
      <img src="http://commonsense-design.com/wp-content/uploads/2016/12/thumbnail_sample.png"/>
    </figure>
    <span class="more-text">
      Read More
    </span>
  </div>
  <div class="text-content">
    <h3 class="title">
      Lorem Ipsum
    </h3>
    <p class="caption">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar ante diam, vitae accumsan sem ullamcorper…
    </p>
    <div class="content-meta">
      <span class="date">
        2016.12.12
      </span>
      <span class="like">
        <i class="material-icons">&#xE87E;</i>
        120
      </span>
    </div>
  </div>
</div>

<div class="l-card">
  <div class="l-thumbnail">
    <figure class="thumbnail-wrapper">
      <img src="http://commonsense-design.com/wp-content/uploads/2016/12/thumbnail_sample.png"/>
    </figure>
    <span class="more-text">
      Read More
    </span>
  </div>
  <div class="text-content">
    <h3 class="title">
      Lorem Ipsum
    </h3>
    <p class="caption">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar ante diam, vitae accumsan sem ullamcorper…
    </p>
    <div class="content-meta">
      <span class="date">
        2016.12.12
      </span>
      <span class="like">
        <i class="material-icons">&#xE87E;</i>
        120
      </span>
    </div>
  </div>
 </div>

</div>
