@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 33px;
    font-size: 13px;
    line-height: 18px;
    background: url(burger.jpg) center center / cover no-repeat;
    position: relative;
    background-color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.navbar {
    margin-bottom: 0 !important;
    height: 75px !important;

    .logo {
        width: 75px;
    }
}
#notice {
    color: green;
}
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}
#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px -7px 0;
        background-color: #c00;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}

label {
    display: block;
}

.burgerking {
    height: 100px;
    width: 100px;
    margin-top: -70px;
    z-index: 1;
    position: relative;
    float: left;
}

.tweets-section{
  margin-top: 100px;
}
