body {
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: image-url("0209_stripes.jpg");
}

// .all{
//   background-image: image-url("0209_stripes.jpg");
//
// }
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: rgba(#5f84f4, 0.92);

  &:visited {
    color: rgba(#5f84f4, 0.92);
  }

  &:hover {
    color: #fff;
    // background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  text-align: center;
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


.burgerking{
height: 16vw;
position: absolute;
z-index:1;
margin-left: 5%;
margin-top: -6%;
}

.burger{
  position: absolute;
  margin-top: 0;
  width: 100%;
  z-index:0;
}

.container2{
  text-align: center;
}

@media screen and (max-width: 480px){

 .logo{
   margin-left: auto;
   margin-right: auto;
   float: left;
 }

  .burgerking{
  position: absolute;
  top: 6%;
  height: 15%;
  float: left;
  }

  .burger{
  width: 100%;
  height: auto;
  margin-top: 34%;
  }

.navbar{
  margin-right: 2%;
  }
  h1{
    padding:  20%;
    position: relative;
  }
}
