<% if user_signed_in? && params[:action] != "profile" && params[:controller] != "home" %>
<div class="profile">
  <%#= link_to 'My Profile', user_path, class: "btn btn-success btn-lg" %>
</div>
<% end %>
