<!-- Nav bar  -->
<div class="nav navbar-nav navbar-right">
 <%= render 'devise/homepage' , class: "btn btn-primary"%>
 <%= render 'devise/profile' ,  class: "btn btn-primary" %>
 <%= render 'devise/login_items', class: "btn" %>
</div>
